.cajaContenido {
    display: inline;
    width: 100%;
    height: 400px;
    
    background-color: #FFF9F5;
    margin: 5px;
    padding: 5px 5px 5px 5px;

    .texto {
        font-family: 'Source Sans Pro';
        font-size: 14pt;
        font-style: normal;
    
        &Italica {
            font-style: italic;
        }
    
        &Negrita {
            font-style: bold;
        }
    
    }

}